<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alphabet Recognition AI</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Alphabet Recognition AI</h1>
        <canvas id="canvas" width="280" height="280"></canvas>
        <!-- <canvas id="canvas" width="64" height="64"></canvas> -->
        <button id="predictBtn">Predict</button>
        <div id="result"></div>
    </div>

    <script type="text/javascript" src="../static/js/draw.js"></script>
</body>
</html>
